<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Snakes and Ladders
<form method="post" id="form1">
  <button type="text" name="roll">roll</button>
</form>
<form method="post" id="form2">
  <button type="text" name="stop">stop</button>
</form>
<form method="post" id="form3">
  <button type="text" name="next">next</button>
</form>
<form method="post" id="form3">
    <input type="text" name="new_name">
    <button type="input" name="change">change</button>
</form>
</body>
</html>