<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snakes and Ladders</title>
</head>
<body>
Snakes and Ladders
<form method="post" id="form1">
  <button type="text" name="roll"  style="width:200px;font-size: 60px; color:blue;text-align:center;left:45%;top: 30%;
   position: absolute;">roll</button>
</form>
<form method="post" id="form2">
  <button type="text" name="stop" style="width:200px;font-size: 60px; color:blue;text-align:center;left:45%;top: 60%;
   position: absolute;
">stop</button>
</form>
</body>
</html>