<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid text-center h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-4  mx-auto"></div>
    <div class="col-md-4 box h-100 d-flex justify-content-center flex-column mx-auto">
      <p></p>
      <h2>Snakes and Ladders</h2>
      <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      <div class="container text-center justify-content-center" style="min-width: 150px; max-width: 180px">
        <form method="post">
            <input type="text" name="player_name"
                   placeholder="Player Name"
                   style="max-width: 150px;
                   min-height: 38px"><p></p>
            <button class="btn btn-block btn-primary">Login</button>
          </form>
      </div>
    </div>
    <div class="col-md-4  mx-auto"></div>
  </div>
</div>
<script crossorigin="anonymous"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>