<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Home Page<br/>
http://127.0.0.1:5000/game/{{ uniqueURL1 }}

<br/>

</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Snakes and Ladders
<form method="post" id="form1">
  <button type="text" name="roll">roll</button>
</form>
<form method="post" id="form2">
  <button type="text" name="stop">stop</button>
</form>

</body>
</html>